*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('https://stepik.org/media/attachments/lesson/374893/world.png');
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 650px;
    margin: 20px auto;
    height: 100vw;
}
header{
    text-align: center;
    color: rgb(88, 85, 85);
    font-family: 'Poppins',cursive;
}

.container{
    display: flex;
    flex-wrap: wrap;
}
.card{
    height: 180px;
    width: 180px;
    margin: 5px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}
.front,
.back{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: 'Lobster', cursive;
    border-radius: 10px;
    position: absolute;
}
.front{
    background-color: rgb(233, 220, 235);
    z-index: 2;
    backface-visibility: hidden;
}
.back{
    background-color: orange;
    z-index: 1;
    transform: rotateY(180deg);
    color: white
}
.card:hover{
    transform: rotateY(180deg);
}
.container{
    perspective: 1000px;
}